
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  background: #e1e0eb;
}

.app {
  display: flex;
  padding: 10px;
  height: 100vh;
  gap: 20px;
}


.sidebar {
  width: 260px;
  background: rgb(216, 208, 208);
  padding: 20px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar h2 {
  font-size: 18px;
  font-weight: 600;
}

.floor {
  flex: 1;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr; 
}

.room-reception { grid-column: 1 / 4; grid-row: 1; border: 5px solid #e53935; }
.room-server    { grid-column: 1; grid-row: 2; border: 5px solid #1e88e5; }
.room-conference{ grid-column: 3; grid-row: 2; border: 5px solid #43a047; }
.room-security  { grid-column: 1; grid-row: 3; border: 5px solid #1565c0; }
.room-staff     { grid-column: 3; grid-row: 3; border: 5px solid #8e24aa; }
.room-archives  { grid-column: 1; grid-row: 4; border: 5px solid #fdd835; }


.corridor {
  grid-column: 2;          
  grid-row: 2 / 5;         
  background: #e5e5e5;    
  border-radius: 14px;
}
