* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #fcfcfe;
}

.app {
  display: flex;
  padding: 10px;
  height: 100vh;
  gap: 20px;
}

.sidebar {
  width: 260px;
  background: rgb(211, 209, 209);
  padding: 20px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar h2 {
  font-size: 18px;
  font-weight: 600;
}

.floor {
  flex: 1;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 150px 150px 150px;
  background: repeating-linear-gradient(
    45deg,
    #d2b48c,
    #d2b48c 20px,
    #c19a6b 20px,
    #c19a6b 40px
  );
  padding: 10px;
  border-radius: 14px;
}

.room {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: rgba(232, 229, 229, 0.85);

}

.room-reception {
  grid-column: 1 / 4;
  grid-row: 1;
  border: 5px solid #e53935;
}
.room-server {
  grid-column: 1;
  grid-row: 2;
  border: 5px solid #1e88e5;
}
.room-conference {
  grid-column: 3;
  grid-row: 2;
  border: 5px solid #43a047;
}
.room-security {
  grid-column: 1;
  grid-row: 3;
  border: 5px solid #1565c0;
}
.room-staff {
  grid-column: 3;
  grid-row: 3;
  border: 5px solid #8e24aa;
}
.room-archives {
  grid-column: 1;
  grid-row: 4;
  border: 5px solid #fdd835;
}

.corridor {
  grid-column: 2;
  grid-row: 2 / 5;
  background: rgba(230, 230, 230, 0.8);
  border-radius: 14px;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
}

.room-header {
  padding: 5px 10px;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
}

.room-body {
  flex: 1;
  padding: 10px;
  font-style: italic;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
}
